@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
} 

body{
    background-color: #f9f9f9;
} 

/* Formulaire */

#inscription {
    /* background-color: #f9f9f9; */
    padding: 100px 15px;
}

#inscription .container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 60px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: rgb(214,214,214) 0px 10px 50px -10px;
}

#inscription .container .title {
    margin-bottom: 60px;
}

#inscription .container .title h3 {
    font-size: 2.8em;
}

#inscription .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

#inscription .container form input {
    width: 45%; 
}

#inscription .container form input:hover,
#inscription .container form textarea:hover
{
    border-bottom: 2px solid #5758BB;
}



#inscription .container form input,
#inscription .container form textarea 
{
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

#inscription .container form textarea {
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 60px;
}

#inscription .container form button {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #5758BB;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    margin: 0px auto;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: rgb(214,214,214) 0px 10px 40px 0px;
}

@media screen and (max-width: 500px) {

    #inscription .container form{
        flex-direction: column;
        width: 95%;
    }

    #inscription .container form input {
        width: 100%;
    }

    #inscription .container .title h3 { 
        font-size: 2em;
    }
}




